
body{background:#CDE9FF;font-family: URW Gothic L;}

/* -----------Layout----------*/

#header{position: absolute;background: rgba(67,169,255,0.2);height: 8.0%;top: 0.5%;right: 16.0%;left: 16.0%;
			text-align: center;border-radius:10px 10px 0 0;
		 }
#header2{position: absolute;background: rgba(67,169,255,0.2);height: 8.0%;top: 9.0%;right: 16.0%;left: 16.0%;
	text-align: center;
	   	}
#menu1{position: absolute;background: rgba(67,169,255,0.2);top: 9.0%;bottom: 6.0%;right: 0.5%;width: 15.0%;
	text-align: center;
		}
#menu2{position: absolute;background: rgba(67,169,255,0.2);top:9.0%;left: 0.5%;width: 15.0%;bottom: 6.0%;
	text-align: center;overflow: auto ;
		}
#content{position: absolute;background: rgba(67,169,255,0.2);right:0.5%;left:16.0%;bottom:6.0%;top:18.0%;
	overflow: auto; border: 0px solid #4488C7;
		}
#cont{position: absolute;background: rgba(67,169,255,0.2);right:15.5%;left:16.0%;bottom:6.0%;top:18.0%;
			overflow: auto; border: 0px solid #4488C7;
				}

#contleft{position: absolute;background: rgba(67,169,255,0.2);right:50.0%;left:0.5%;bottom:6.0%;top:18.0%;
		overflow: auto;}

#contright{position: absolute;background: rgba(67,169,255,0.2);right:0.5%;left:50.5%;bottom:6.0%;top:18.0%;
		overflow: auto;}

#footer{	position: absolute;background: rgba(67,169,255,0.2);height: 5.0%;bottom: 0.5%;
right: 0.5%;left: 0.5%;border-radius:0 0 10px 10px	}

#contvert{position: absolute;background: rgba(67,169,255,0.2);right:55.5%;left:16.0%;bottom:6.0%;top:17.5%;
overflow: auto ; border: 0px solid #4488C7;overflow: auto }

#contvert2{position: absolute;background: rgba(67,169,255,0.2);top:17.5%;left:45.0%;right:0.5%;bottom: 6.0%;
	text-align: center ; border: 0px solid #4488C7;overflow: auto}

#contliv{position: absolute;background: rgba(67,169,255,0.2);top:17.5%;left: 45%;width: 15.0%;bottom: 6.0%;
	text-align: center;overflow: auto;}

#contliv2{position: absolute;background: rgba(67,169,255,0.2);top:17.5%;left: 60.5%;right:0.5%;bottom: 6.0%;
	text-align: center;overflow: auto;}


#logosahel{position: absolute;background: rgba(67,169,255,0.2);height: 8.0%;top: 0.5%;right: 0.5%;left: 84.3%;
	text-align: center;
	   	}
#logoyogo{position: absolute;background: rgba(67,169,255,0.2);height: 8.0%;top: 9.0%;right: 0.5%;left: 84.3%;
	text-align: center;
	   	}
#logoprod{position: absolute;background: rgba(67,169,255,0.2);height: 8.0%;top: 9.0%;right: 84.3%;left: 0.5%;
	text-align: center;
	   	}
#logoconnex{position: absolute;background: rgba(67,169,255,0.2);height: 8.0%;top: 0.5%;right: 84.5%;left: 0.5%;
	text-align: center;cursor: pointer;
	   	}

/* ------Button menu1 menu2---------------*/

.bm2{border-color: blue;text-align: center;margin-top:10px;width: 95%;padding: 10px;
	background: rgba(0,0,0,0.1);color:#FFFFFF;font-size: 18px;box-shadow:2px 2px 1px #000;
	text-transform: capitalize;margin-bottom: 5px;}

.bm2:hover{cursor: pointer;background: rgba(0,0,0,0.7);padding:7px 2px;font-size: 25px 4px;
	border-bottom: ;	box-shadow:2px 2px 2px white;color: #FFFFFF;}

/* ------Button de base des menus Header2---------------*/

.bmh2{text-align: center;margin-top:5px;width: 13.5%;padding: 10px;
	background: rgba(67,169,255,0.2);color:#000000;font-size: 18px;	text-transform: capitalize;
	border:none; }

.bmh2:hover{cursor: pointer;background: rgba(67,169,255,0.8);padding:7px 2px;font-size: 25px 4px;
box-shadow:2px 2px 2px solid #000000;}

/* --------Titre texte-------------*/

.titreh1{color: #000000;margin: 2px;font-size:22px;text-transform:uppercase;margin-top: 2px;}
.titreh2{color: #000000;margin: 4px;font-size:20px;text-transform:uppercase;}
.titreh3{color: #000000;margin: 20px;font-size: 18px;}
.titreh4{color: #000000;margin: 20px;font-size: 16px;}
.titreh5{color: #000000;margin: 5px;font-size: 14px;}

.titrecform{color:#000000;margin:15px;font-size:25px;}
.titreconnex{color: #000000;margin: 5px;font-size:14px;text-shadow:2px 1px 6px #000000;cursor: pointer;}

/* -------Tableaux--------------*/

.w90{width: 90%;margin-left:5.0%;border-bottom:1px solid #8AA9F2;}
.w95{width: 95%;margin-top: 60px;margin-left: 10px;border:none; }

.thtable{background:rgba(67,169,255,0.7);margin: 10px;color:#000000;text-shadow: 1px 1px 1px #7CBCFF;}
.ld0{background: rgba(67,169,255,0.4);border-bottom: 1px solid #A5B8E5;border:none;}
.ligne{background:#83BAFF;}

.textgau{text-align: left;}
.textdro{text-align: right;}
.textcen{text-align: center;}
.t18{font-size: 18px;}

/* -------Button Ajouter Modifier Supprimer----------*/

.img{font-size: 16px;border: none;cursor: pointer;text-align: right; margin-top: 10px;}
.img:hover{font-size: 18px;border: none;width: 30px;height: 30px;cursor: pointer;border:#FFFF54;}

.butcompo{font-size: 18px;cursor: pointer;background: rgba (0,0,0,0.2);margin: 2px;color: #9C4040;}
.butcompo:hover{font-size: 20px;background: rgba (0,0,0,0.8);cursor: pointer;margin: 3px;}

.butconnex{text-align: center;margin-top:5px;width: 70%;padding: 2px;background: rgba(67,169,255,0.8);
	color:#000000;font-size: 16px;border:none;border-radius: 20px 20px 0px 0px;}
.butconnex:hover{background: rgba (0,0,0,0.8);cursor: pointer;margin: 2px;padding:7px 2px;font-size: 25px 4px;
box-shadow:2px 2px 2px solid #000000;}



.butmenu2{text-align: center;margin-top:5px;width: 90%;padding: 2px;background: rgba(67,169,255,0.2);
	color:#000000;font-size: 16px;text-transform: capitalize;border:none; }

.butmenu2:hover{cursor: pointer;background: rgba(67,169,255,0.8);padding:7px 2px;font-size: 18px 4px;
box-shadow:2px 2px 2px solid #000000;}

.butachat{text-align: center;margin-top:5px;width: 100%;height: 45%;padding: 20px 2px;background: rgba(67,169,255,0.5);
	color:#000000;font-size: 18px;text-transform: capitalize;border:none; }

.butachat:hover{cursor: pointer;background: rgba(67,169,255,0.8);padding:25px 2px;font-size: 20px;
box-shadow:2px 2px 2px solid #000000;}


.butcond{text-align: center;margin-top:5px;width: 100%;height: 25%;padding: 20px 2px;background: rgba(67,169,255,0.5);
	color:#000000;font-size: 18px;text-transform: capitalize;border:none; }

.butcond:hover{cursor: pointer;background: rgba(67,169,255,0.9);padding:25px 2px;font-size: 20px;
box-shadow:2px 2px 2px solid #000000;}

.cblan{color: #FFFFFF;}
.crouge{color: #FF0019;font-size: 20px;}
.rouge{color: #FF0019;}
.cnoire{color: #000000;}

/* ----------Formulaire Fajouter-----------*/

#cform{position: fixed;background-image: url('../Images/b22.jpg');top:20%;bottom:20%;left:30%;
	right:30%;z-index: 1000;box-shadow:1px 1px 2px 2px #6060FF;border-radius: 20px;
	background:#89BBFF;}

#cform2{position: fixed;background:rgba(67,169,255,0.2);top:20%;bottom:20%;left:30%;right:30%;
	z-index: 1000;border-radius: 20px;}

#cheader{left:30.0%;right: 30%;top: 20%;height:6.0%;position: fixed;z-index: 1001;border-radius:
20px 20px 0px 0px; background:rgba(67,169,255,0.9);border-bottom: 1px solid #fff;color:#000000;
text-align: center;  }
#cfooter{left:30.0%;right: 30%;bottom: 19.5%;height:6.0%;position: fixed;z-index: 1001;border-radius:
 0px 0px 20px 20px;background:rgba(67,169,255,0.9);text-align: right;color:#000000;border-top: 1px solid #fff;}

.textinput{color: #000;font-size: 18px;font-weight: bold;text-shadow:2px 2px 2px #666;text-align: left;}

.labinput{background: rgba(64,150,227,2);border-radius: 7px;border:none;text-align: center;color: #000000;
text-shadow:2px 2px solid #666;font-size: 16px;font-weight: bold;width:100%;height: 30px;}

.butcform{ background: #1C921B;border-radius: 4px;border:none; color: #100E23;
text-shadow:2px 2px 1px #000;margin: 5px;}
.butcform:hover{ cursor:pointer;padding: 2px 4px;background: rgba(0,0,0,0.8);
color: #a0ff4f; margin: 5px; }

/* ---------Fmodifier---------------*/

#mform{position: fixed;background-image: url('../Images/b22.jpg');top:30%;bottom:30%;left:25%;
	right:25%;z-index: 1000;box-shadow:1px 1px 10px 5px #6060FF;border-radius: 20px;background:#89BBFF;}

#mform2{position: fixed;background:rgba(67,169,255,0.2);top:30%;bottom:30%;left:25%;right:25%;
	z-index: 1000;border-radius: 20px;}

#mheader{left:25%;right: 25%;top: 30%;height:6.0%;position: fixed;z-index: 1001;border-radius:
20px 20px 0px 0px; background:rgba(67,169,255,0.9);border-bottom: 1px solid #fff;color:#000000;text-align: center;}

#mfooter{left:25%;right: 25%;bottom: 30.0%;height:6.0%;position: fixed;z-index: 1001;border-radius:
 0px 0px 20px 20px;background:rgba(67,169,255,0.9);text-align: right;color:#000000;border-top: 1px solid #fff;}

/* ----------Fsupprimer--------------*/

#sform{position: fixed;background-image: url('../Images/bg22.jpg');top:35%;background:#89BBFF;
bottom:35%;left:25%;right:20%;z-index: 1000;box-shadow:1px 1px 10px 5px #6060FF;border-radius: 20px;}

#sform2{position: fixed;background:rgba(67,169,255,0.2);top:35%;bottom:35%;left:25%;right: 20%;
z-index: 1000;border-radius: 20px;}

#sheader{ left:24%;right:19.0%;top:33.5%;height:6%;position: fixed;z-index: 1001;border-radius:
20px 20px 0px 0px; background:rgba(67,169,255,1);border-bottom: 1px solid #fff;text-align: center;  }

#sfooter{ left:25%;right:20.0%;bottom: 35%;height:6%;position: fixed;z-index: 1001;border-radius:
 0px 0px 20px 20px;background:rgba(67,169,255,1);border-top: 1px solid #666;text-align:right;color:#fff;
 border-top: 1px solid #fff; }

/* ----------Fvalider---------------*/

#vform{position: fixed;background-image: url('../Images/bg22.jpg');top:35%;background:#89BBFF;
bottom:35%;left:25%;right:20%;z-index: 1000;box-shadow:1px 1px 10px 5px #6060FF;border-radius: 20px;}

#vform2{position: fixed;background:rgba(67,169,255,0.2);top:35%;bottom:35%;left:25%;right: 20%;
z-index: 1000;border-radius: 20px;}

#vheader{ left:24%;right:19.0%;top:33.5%;height:6%;position: fixed;z-index: 1001;border-radius:
20px 20px 0px 0px; background:rgba(67,169,255,10);border-bottom: 1px solid #fff;text-align: center;  }

#vfooter{ left:25%;right:20.0%;bottom: 35%;height:6%;position: fixed;z-index: 1001;border-radius:
 0px 0px 20px 20px;background:rgba(67,169,255,10);border-top: 1px solid #666;text-align:right;color:#fff;
 border-top: 1px solid #fff; }

  /* ---------Bputton Valider et Annuler------------*/

.bvalid{	background:#217FAE;margin-top: 10px;margin-right: 10px;font-size:17px;border:none;color: #FFF;border-radius:
 0px 0px 5px 5px;}

.bvalid:hover{background:#A2D3EA;cursor: pointer;margin: 5px;font-size:19px;color: #209034;}

.bannul{background:#217FAE;margin-top: 10px;margin-right: 10px;font-size:17px;border:none;color: #FFF;border-radius:
 0px 0px 5px 5px;}

.bannul:hover{background:#A2D3EA;cursor: pointer;margin: 5px;font-size:19px;color: #E5142C;}

input[type=text]:focus{border:3px solid #555;}

/*{border-left: 6px solid red;background-color: lightgrey;}

/*------------------------*/


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

video {
    width: 100%;
    height: 25%;
}
